%h2 Data ETL will be ready in a moment

%p.flow-text
  The files are being processed by magic elves, it will take them a few seconds to finish. With lots of luck,
  they will be finished by the time you end reading this text.

.center-align
  <iframe src="https://giphy.com/embed/3ofT5SAruPuAqHEQNy" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

%p.flow-text
  Go to the #{link_to 'Unit listing', units_path} page. If the data is not there, reload it in a few more seconds.