%h1 Units

%table.responsive-table
  %thead
    %th Name
    %th Description
    %th Area
    %th Price
  %tfoot
    - unless @units.empty?
      %tr
        %td.center-align{colspan: 4}
          %strong Units displayed:
          = @units.size
      %tr
        %td{colspan: 4}= render partial: 'import_files'


  %tbody
    - if @units.empty?
      %tr
        %td.center-align{colspan: 4}
          %strong No units imported yet, push the 'Import files' button.
          %br
          %br
          = render partial: 'import_files'

    - @units.each do |unit|
      %tr
        %td= unit.name
        %td= unit.description
        %td= unit.area
        %td= unit.price